<!-- .blog -->
<div id="blog" class="content_2">
<h1 class="h-bloc">Qualifications</h1><br> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

<!-- .title_content -->
   
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Certifications</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

		<div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Certified Associate in Project Management</span></div> 
            </div>
       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Certificate of advanced studies in Data Science</span></div> 
            </div>
			 <!-- .skillbar -->
			 
			<div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Google Data Studio</span></div> 
            </div>
            <!-- /.skillbar -->
			<!-- .skillbar -->
			
     <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Google Analytics Individual Qualification</span></div> 
            </div>
			</div>
            <!-- /.skillbar -->
			<!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Courses</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
			<!-- .skillbar -->
			<div class="skills">
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Data Analytics</span></div>
            </div>
            <!-- /.skillbar -->
			
        <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Database Management</span></div>
            </div>
            <!-- .skillbar -->
			
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Business Analytics</span></div>
                
            </div>
            <!-- /.skillbar -->
            <!-- .skillbar -->
			
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Information System Analysis</span></div>
               
            </div>
            <!-- /.skillbar -->
			<!-- .skillbar -->
			
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Enterprise IT Consultation</span></div>
            </div>
            <!-- /.skillbar -->
			<!-- .skillbar -->
			
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Project Management</span></div>
            </div>

            <!-- /.skillbar -->
			<!-- .skillbar -->
			
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Lean Six Sigma</span></div>
            </div>
			
            <!-- /.skillbar -->
           
            <!-- .skillbar -->
			
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Enterprise Risk Management</span></div>
            </div>
		</div>
            <!-- /.skillbar -->
         
     <!-- /.resume-right -->
    
        <!-- /.title_content -->
        
		<div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
		
     
		<!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5><span class="fa fa-briefcase"></span>  Syracuse University | GPA: 3.97 <span class="duration"><i class="fa fa-calendar color"></i> Aug 18 - May 20 </span></h5>
                
				<p>Student Supervisor, Shaw Dining Hall -
Promoted to Student Supervisor position at Shaw dining hall for the upcoming year after 6 months of demonstrating a high level of responsibility, maturity and people management skills. <br>
Graduate Mentor - Volunteering to help 4 graduate students in resume reviewing, course selection for academic guidance and organizing events with the Career Services at iSchool of Syracuse University. <br>
Dancer, Syracuse Orange Bhangra Dance Team - Performing on stage for various social occasions.
</p>
            </li>
            <li>
                <h5> <span class="fa fa-briefcase"></span> Mumbai University<span class="duration"><i class="fa fa-calendar color"></i> Aug 14 - May 18 </span></h5>
              
                <p> Women's Representative in Student Council for the year 2016-2017 <br> 
				Technical Head in Information Technology Student Association for the year 2016-2017 <br>
				Program Executive in Indian Society for Technical Education for the year 2015-2016.</p>
            </li>
			
        </ul>
        <!-- /.attributes -->
        <!-- /.attributes -->
        
          <!-- .title_content -->
       
        
    </div>
    <!-- /.resume-left -->
</div>
</div>

<div style="clear: both"></div>  
  
  
</div>

<!-- End .resume -->