<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Projects</h1>


<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">Academic Projects</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            Data Analysis - Kickstarter Projects Success Prediction
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> Skills acquired: Data analysis, data visualization, team management <br>
Tools: R, Weka, PowerBI, MS Word, MS Powerpoint <br>

Collaborated in a team of 3 people, I gathered project requirements to ensure success for Kickstarter project launchers. Consistently met deadlines with project team, allocated tasks and followed the agile Kanban methodology using the Trello app. Moreover, we generated visualizations for the data using PowerBI to show region wise and category wise factors for project success. Finally, we predicted factors which contribute to Kaggle project success based on models such as Decision trees, Random forests, Naïve Bayes classification, Clustering analysis, Support vector machine, Logistic regression and Association rule mining to validate analysis and find answers to data questions.                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            Database Management - Health Care Portal
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Skills acquired: Database management, data administration <br>
Tools: MS SQL Server Management Studio, MS Access, MS Visio, MS Word <br> 

Communicated with healthcare center to gather requirements and summarized knowledge about existing healthcare portal and identified shortcomings in the existing system, documented business suggestions and developed system design using MS Visio. We developed a new system using MS SQL Server management studio for database and MS Access for creating front end. Also, we increased the system accuracy and reducing human load by automating appointment process and bill generation processes.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                            Data Analytics using Google Analytics - Whitman School of Management Website
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> Skills acquired: Web data analysis <br>
Tools used: Google Analytics <br>

Utilizing Google Analytics, I tracked the behavior, demographics and devices used by visitors to suggest correct target audience. Also, I evaluated areas for improvement of the website by observing starting pages, landing pages, ending pages according to user behavior and performed content drilldown to inspect topics of interest to the visitors. Moreover, I analyzed major trends of ad campaigns using Google Ads and determined top keywords, search queries and expenditure. Finally, I provided business suggestions based on acquisition rates from social media networks and types of searches performed by users.
                    </div>
                </div>
            </div>
			<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapse_tabs">
                            Data Analysis in RStudio - United States Airlines customer satisfaction
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i> 
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> Skills acquired: Agile Kanban Methodology, Data analysis, Leadership, Team Management <br>
Tools: R, Trello, MS PowerPoint, MS Word <br>

Collaborating with a team of 5 people, I gathered project requirements and summarize project findings as a technology consultant and consistently met deadlines with project team, allocated tasks and followed the agile Kanban methodology using the Trello app. Also, I provided actionable insights by developing a report in MS Word and provided valuable recommendation to the clients using MS PowerPoint. Then, we predicted factors which contribute to high customer satisfaction based on models such as Support Vector Machines, Decision Trees, clustering, classification and Association rule mining using R.
                    </div>
                </div>
            </div>
			<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapse_tabs">
                            Data Analysis in Excel - House Pricing Analysis
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i> 
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> Skills acquired: Data Analysis, Data optimization <br>
Tools required: MS Excel <br>

Collaborating with a group of 4 people, I imported real estate data in MS Excel by using PowerQuery and analyzed the dependency of data using PowerPivot, PivotCharts and PowerView. Further, we determined the factors that affect sales depending on prices, size and number of offers using pivot table and charts and predicted the sales patterns by changing the input variables and performing sensitivity analysis.Also, we conducted analysis using correlation and regression techniques to understand relationship and strength of association for data. Finally, we optimized the existing data model and increased sales profit by using scenario manager, goal seek and solver techniques.
                    </div>
                </div>
            </div>
			<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="collapse_tabs">
                            Enterprise Risk Management – Risk Management in Financial Industry
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Skills acquired: Enterprise Risk Management <br>
Tools: MS Word, MS PowerPoint. <br>

In this course, I developed a report on risk management strategies of Goldman Sachs and Citi Group for Financial Crisis of 2008. Further, I compared the risk management strategies and financial situations of both companies before and after the crisis. Finally, I assessed the risk management frameworks, culture, policies and created a lessons learned document.
                    </div>
                </div>
            </div>
			<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" class="collapse_tabs">
                            Project Management - RPA at World Hotels for event management
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i> 
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> Skills acquired: Business Analysis, Project management <br>
Tools used: MS Project, MS Word, MS PowerPoint <br>

I understood the business need and requirements to share actionable insights. I designed the work breakdown structure (WBS) in MS Project in order to assign and schedule the project tasks to stakeholders and ensured minimum expenditure by estimating the cost of project and allocating budget for various implementation practices.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>