<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Vedika Shenoy</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Full Name</label>
                <span class="value">Vedika Ganesh Shenoy</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">June 19, 1996</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Address</label>
                <span class="value">Syracuse, New York</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">veshenoy@syr.edu</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+1 (315) 403-4217</span>
                <div class="clear"></div>
            </li>
        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            I am currently a graduate student at Syracuse University with a passion for data science and project management. I am seeking for full time job opportunities as a Data Analyst or Data Scientist starting from June 2020. If you are a recruiter, student or someone who shares similar interests, feel free to connect with me.

        </p>
        
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            In addition to my professional experience, I am always eager to learn and improve on my dancing, gymnastics and yoga skills.  

        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
          
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Specializations</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>Data Engineering </h6>
                    <p>Managing data workflows, creating pipelines and ETL processes to create the dataset for data analysis.</p>
                </div>
            </div>
        </div>
		 <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>Data Analysis</h6>
                    <p>Translating numbers into insights to help better decisions and to increase performance.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>Data Visualization</h6>
                    <p>Creating executive dashbaords to visualize the results of the analysis to help better informed decisions.</p>
                </div>
            </div>
        </div>
		<div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>Cloud Management</h6>
                    <p>Managing and providing support for cloud computing products and services. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>Process Improvement</h6>
                    <p>Helping businesses to more efficient by improving processes with lean six sigma methodologies</p>
                </div>
            </div>
        </div>
		<div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>Project Management</h6>
                    <p>Leading teams and managing tasks to ensure timely completion of projects using agile project management principles</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->


<div class="clear"></div>
</div>
<!-- End .profile -->